@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

html {
    scroll-behavior: smooth;
}

body {
width: 100%;



}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #1d1d1d;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.brand{
    text-transform: capitalize;
    font-weight: 500;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
}

.link:hover:not(.active){
    opacity: 0.7;
}

.link.active::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.link.active::after
{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.best-burgers{
    width: 100%;
    height: 100vh;
    background: url(img/shutterstock_1917662660.jpg);
    background-size: cover;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}



.burger-content{
    padding: 10px 20px;
    width: 100%;
}

.burger-heading{
    color: #e5cb7a;
    font-size: 5rem;
    font-weight: 500;
}

.tast {
    color: #F5EBDC;
}

.cola{
    color: #e5cb7a;
    line-height: 15px;
    margin-bottom: 30px;
    font-size: 30px;
}

.btn{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 100%;
    background: #D62300;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #1E1E1E;
}

.project{
    position: relative;
    padding: 50px 10vw;
   
}

.filters{
    width: fit-content;
    display: block;
    margin: 100px auto;
}

.filter-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    margin: 0 5px 10px;
    cursor: pointer;
}

.filter-btn.active{
    background: #D62300;
    color: #fff;
}

.project-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.project-card{
    position: relative;
    cursor: pointer;
    display: block;
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
    opacity: 0;
}

.project-name{
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    color: #D62300;
}

.tags{
    position: absolute;
    bottom: 20px;
    opacity: 0.6;
    width: 90%;
    
}

.project-card:hover .content{
    opacity: 1;
}

.project-card.hide{
    display: none;
}

.heading{
    color: #e5cb7a;
    text-align: center;
    font-size: 60px;
}

.highlight{
    color: #fdd3c5;
    margin-left: 30px;
}

.project{
    background: #f9906f;
}

footer {
    background-color: #1d1d1d;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }

footer .follow {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
   
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
   
  }
  
  footer .follow i {
    color: #f9906f;
    padding-right: 4px;
    cursor: pointer;
    margin-right: 15px;
  }

  footer .foll{
    color: #D62300;
      margin-left: 25px;
  }

  footer .follow i:hover,
footer a:hover {
  color: #e5cb7a;
}

